/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.

https://olufoworaibrahim.medium.com/building-awesome-layouts-with-css-grid-52633d3fd036
*/
/* 
    Created on : 4 de mai. de 2021, 01:22:36
    Author     : AJF
*/
.wrapper {
display : grid;
grid-gap : 10px;
}

.grid-item {
background-color : green;
};/*Creates a 10px gutter between grid rows and columns*/
grid-gap : 10px;
/*Creates a 5px gutter between grid rows.*/
grid-row-gap: 5px; 
/*Creates a 5px gutter between grid columns.*/
grid-column-gap: 5px;
/*Creates a 5px gap between gridrows and 8px gap between grid cols*/
grid-gap: 5px 8px;

.grid-item:nth-of-type(1) {
grid-area: A;
}
.grid-item:nth-of-type(2) {
grid-area: B;
}
.grid-item:nth-of-type(3) {
grid-area: C;
}
.grid-item:nth-of-type(4) {
grid-area: D;
}
.grid-item:nth-of-type(5) {
grid-area: E;
}

grid-template-areas:"A B C"
                    "D E F";
/* "A,B,C,D,E,F" are the names given assigned to our grid-items*/